---
import "@fontsource/roboto";

import LabelGenerator from "../components/LabelGenerator.tsx";
import PrintButton from "../components/PrintButton.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Label Generator</title>
  </head>
  <body class="flex items-center justify-center min-h-screen">
    <div
      class="bg-gray-900 shadow-lg text-white p-6 rounded-lg shadow-lg min-w-[700px] custom-glow"
    >
      <h1 class="text-4xl font-semibold mb-8">Label Generator</h1>

      <LabelGenerator client:load client:only />

      <PrintButton client:load />
    </div>

    <footer class="absolute bottom-0 right-0 p-4 text-gray-400">
      <a
        href="https://github.com/jb3/label-generator"
        class="text-gray-400 hover:text-white">Source Code</a
      > &bull; Licensed under <a
        href="https://choosealicense.com/licenses/agpl-3.0/"
        class="text-gray-400 hover:text-white">AGPL-3.0</a
      >
    </footer>

    <style>
      body,
      html {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
      }

      html {
        height: 100%;
      }

      body {
        background: linear-gradient(180deg, rgb(0, 0, 0), rgb(20, 20, 20));
        color: white;
      }

      .custom-glow {
        box-shadow: 0 0 15px 5px rgba(128, 90, 177, 0.1); /* Blue glow */
      }
    </style>

    <style is:global>
      @media print {
        @page {
          size: 4in 6in;
          margin: 0;
        }

        body {
          background: white !important;
          color: black !important;
        }

        body * {
          visibility: hidden;
        }

        #label,
        #label * {
          visibility: visible;
        }

        #label {
          position: absolute;
          left: 10px;
          top: 10px;
        }
      }
    </style>
  </body>
</html>
